<div class="footer">
  <div class="footer-links">
    <p>Thank you for using <small>© Weather App</small></p>
  </div>
  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</div>
