<% provide(:title, "Help") %>
<h1 class="text-center">Help</h1>
<p class="help-paragraph">
  This application displays the weather forecast. Sign in to discover its functionality.
  </br>
  </br>
  On the home page you are able to see the current weather - make sure you refresh data to get the fresh weather by the button in navbar.
  There are 3 default fixed cities on display: Tallinn, Tartu and Brno, but additionaly you are able to add or delete your own cities through search form in navbar. Only you are able to delete cities which you created.
  </br>
  </br>
  In the show page, after clicking on Forecast 5/3, you can see detailed 5 day per 3 hour forecast for speficic city, on the cards. (more visual chart is currently under construction).
  </br>
  </br>
  After signin in you are also able to redirect to API of the page by clicking on the avatar and choosing API.
</p>

