.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  text-decoration: none;
}

.navbar {
  margin-bottom: 2px;
}

.nav-link {
  color: grey;
  opacity: 0.9;
}

.nav-link:hover {
  color: black;
  opacity: 0.9;
}
